set_io clk R9

set_io LED1 C8
set_io LED2 F7
set_io LED3 K9

# set_io P1_1  A1
# set_io P1_2  A2
# set_io P1_3  B1
# set_io P1_4  B2
# set_io P1_7  D8
# set_io P1_8  C7
# set_io P1_9  C6
# set_io P1_10 B3
# 
# set_io P2_1  A9
# set_io P2_2  B9
# set_io P2_3  A10
# set_io P2_4  B10
# set_io P2_7  A11
# set_io P2_8  B11
# set_io P2_9  A16
# set_io P2_10 A15

set_io PANEL_A   L12
set_io PANEL_B   L11
set_io PANEL_C   M12
set_io PANEL_D   M11

set_io PANEL_CLK N9
set_io PANEL_OE  P9
set_io PANEL_STB R10

set_io PANEL_R0  C12
set_io PANEL_G0  B12
set_io PANEL_B0  C13

set_io PANEL_R1  C14
set_io PANEL_G1  D13
set_io PANEL_B1  B16
